<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body style="background-color:cadetblue">
    <h1>FAMILIARES</h1>
    <ul>
        
        {% for familiar in lista_familiares  %}

            <li>Tipo: <strong>{{familiar.tipo}}</strong> Nombre: <strong>{{familiar.nombre}}</strong> Apellido: <strong>{{familiar.apellido}}</strong> Edad: <strong>{{familiar.edad}}</strong>
            
            </li>
            
        {% endfor %}
            

    </ul>
</body>
</html>